<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RE - Reset Password</title>
    </head>

    <script>
        function validator() {
          var password = document.getElementById("password").value;
          var confirmpassword = document.getElementById("confirmpassword").value;
          var validtr = false;
          if(password == "") {
            document.getElementById("message1").innerHTML = "Cannot be Empty !";
            validtr = true;
          }
          else{
              document.getElementById("message1").innerHTML = "";
          }
          if(confirmpassword == "") {
            document.getElementById("message2").innerHTML = "Cannot be Empty !";
            validtr = true;
          }
          else{
              document.getElementById("message2").innerHTML = "";
          }
          if(password !== confirmpassword){
            document.getElementById("message3").innerHTML = "Password and Confirm Password are NOT SAME";
            validtr = true;
          }
          else{
              document.getElementById("message3").innerHTML = "";
          }
          if(validtr){
            //alert("try again");
          }
          else{
            fetch("{{data.url}}api/auth/resetnewpassword", {
               method: "PATCH",
               headers: {
                  "Content-type": "application/json"
               },
               body: JSON.stringify({
                  "password": password,
                  "uidb64": "{{data.uidb64}}",
                  "token": "{{data.token}}"
               })
            }).then(response => {
                console.log("success", response);
                document.getElementById("message4").innerHTML = "Reset Password Done Successfully.";
            }).catch(response => {
                console.log("error", response);
                document.getElementById("message3").innerHTML = "Reset Password Failed, Try Again!";
            });
          }
        }
    </script>

    <body>
        <div align="center">
<!--            <p> {{ data.message }} </p>-->
            <br/>
            <p> Set New Password </p>
            <br/>
            <br/>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password ..." required />
                <label style="color:red" id="message1"></label>
                <br/>
                <br/>
                <label for="confirmpassword">Confirm Password:</label>
                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password ..." required />
                <label style="color:red" id="message2"></label>
                <br/>
                <br/>
                <label style="color:red" id="message3"></label>
                <label style="color:blue" id="message4"></label>
                <br/>
                <br/>
                <button type="submit" onclick="validator()" > Set New Password </button>
            </div>
        </div>
    </body>
</html>
